.checked {
    color: orange;
  }

  textarea {
    resize: none;
}

#btn_reg_add {
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 200px;
  margin: 0 auto;
}

#btn_reg_add:hover {
  background-color: #2980bf;
}

.d-flex {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap-reverse;
}
img {
  width: 400px;
  height: 250px;
  border-radius: 5px;
  cursor: pointer;
  background: cover;
}

#comments_title {
  margin-top: 35px;
}

/* #img_div{
  display: flex;
  justify-content: space-evenly;
} */

#add-st {
  margin: 10px 0px;

}

/* .img-prod-container img {
  z-index: 1;
} */


/* img.active::after {
  content: '';
  position: fixed;
  width: 100vw;
  height: 100vh;
  top:0;
  left: 0;
  background-color: #222 ;
  z-index: 0;
} */

#select_score {
  width: 65px;
  height: 30px;
}

.opt {
  text-align: center;
}

#relatedProd{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
  cursor: pointer;
  margin-top: 50px;
}

#related-container {
  margin: 30px;
}

#related-title{
  text-align: center;
}

#carouselExampleSlidesOnly {
  width: 495px;
  height: 350px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: -50px;
}

#img_div {
  width: 495px;
  height: 350px;
}

#carrousel {
  width: 490px;
  height: 350px;
}

.carousel-control-next-icon{
  color: aqua;
}

#title {
  display: inline-block;
}

#buy-btn {
  float: right;
  margin-right: 80px;
}